<!DOCTYPE html>
<html lang="ja">

<h3>会員ID</h3>
<%= @customers.id %>

<h3>氏名</h3>
<%= @customers.last_name %>
<%= @customers.first_name %>

<h3>フリガナ</h3>
<%= @customers.last_name_kana %>
<%= @customers.first_name_kana %>

<h3>郵便番号</h3>
<%= @customers.postal_code %>

<h3>住所</h3>
<%= @customers.address %>

<h3>電話番号</h3>
<%= @customers.telephone_number %>

<h3>メールアドレス</h3>
<%= @customers.email %>

<h3>会員ステータス</h3>
<%= @customers.is_active %>